@use 'sass:color';

$darkBlue: #011526;
$mediumBlue: #023059;
$mainBlue: #035aa6;
$lightBlue: #91bbf2;

$primaryBlack: #22292f;
$secondaryBlack: #60647b;
$tertiaryBlack: #8795a1;

$primaryWhite: #fff;

@mixin button($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: adjust-hue($bg-color, 90);
  }
}
