@import 'variables';
@import './Components/Flow/Flow.scss';
// what is best practice for imports?

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;

  .flow-container {
    background-color: $primaryWhite;
  }
}
