.backsplash {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border: 1px solid brown;
  background-color: salmon;
  width: 80vw;
  height: 98vh;
}

.test {
  border: 1px solid burlywood;
  background-color: blanchedalmond;
  height: 45%;
  width: 45%;
}
