@import '../../../variables.scss';

.handle-left {
  background-color: $mainBlue;
}

.handle-right {
  background-color: $mainBlue;
}

.bodyNode {
  padding: 2px;
  border-radius: $borderRadius;
  padding: $standardPadding;
  border: 1px solid $mainBlue;
  background-color: $primaryWhite;
  p {
    margin: 0px !important;
    font-family: $fontRegular;
    font-weight: 200;
  }
}

.parentNode {
  overflow-x: auto;
}
