.bodyNode {
  padding: 2px, 10px;
  margin: 0, 16px, 6px, 16px;
  background-color: cornflowerblue;
}

.nodeText {
  height: 16px;
  padding: 0px;
  margin: 0px;
  background-color: aliceblue;
}

.parentNode {
  overflow-x: auto;
}