@import '../../variables.scss';

header {
  box-sizing: border-box;
  display: flex;
  height: 20vh;
  border: 1px solid $testPink;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.chart-picker {
  background-color: blanchedalmond;
}

.file-display {
  width: 50vw;
  overflow: auto;
  .list-display {
    background-color: aliceblue;
    height: 100px;
    overflow: scroll;
    width: 100%;
    padding: 10px;

    ul {
      margin: 0;
      padding-left: 20px;

      li {
        margin-top: 5px;
        height: '6em';
        overflow-y: 'auto';
      }
    }
  }

  // add some conditional logic for hover only if form has content
  // make variables for button design
  button {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }
}
