@import '../../variables.scss';

header {
  box-sizing: border-box;
  display: flex;
  height: 25vh;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

// custom file input class styling (webkit specific)
// Webkit/Blink/Chrome specific styling, there is a proprietary pseudo element to hide, and then use an also non-standard psudeo-on-an-input
// hide the file upload button
// :: before pseudo element- creates element that is first child of the selected element.
// It is often used to add cosmetic content to an element with the content property.

.custom-file-input {
  color: $primaryWhite;

  &::file-selector-button {
    @include button($mainBlue, $primaryWhite);
    &:hover {
      background-color: $primaryWhite;
      border: 2px $mainBlue;
      color: $mainBlue;
    }
  }
}

.file-display {
  width: 50vw;

  .list-display {
    background-color: $primaryWhite;
    height: 8vh;
    overflow-y: scroll;
    width: 100%;
    padding: 10px;
    margin: 10px;
    scrollbar-color: $mainBlue;
    border-radius: $borderRadius;

    ul {
      margin: 10px;
      padding-left: 20px;
      font-family: $fontRegular;
      color: $primaryBlack;

      li {
        margin-top: 5px;
        height: '6em';
        overflow-y: 'auto';
      }
    }
  }

  // add some conditional logic for hover only if form has content
  // make variables for button design
  button {
    float: right;
    margin-right: 10px;
    @include button($mainBlue, $primaryWhite);
  }
}

::-webkit-scrollbar {
  width: 8px;
  overflow: visible;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #757575;
}

/* For Firefox */
// ::scrollbar-color: #bdbdbd transparent;
// ::scrollbar-width: thin;
