@import '../../variables.scss';

.object-node {
  height: 50px;
  border: 1px solid $mainBlue;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  width: fit-content;
  height: 50%;
  overflow: scroll;
}
