@import '../../variables.scss';

.flow-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // height: 75vh;
  border: 1px solid $darkBlue;
  border-radius: $borderRadius;
}

#tempContainer {
  display: flex;
  justify-content: space-between;
  height: 75vh;
}

#chart {
  height: 25vh;
  @include sideChart($primaryWhite, $primaryBlack);
}

#values {
  height: 40vh;
  @include sideChart($primaryWhite, $primaryBlack);
}
